.frame{
    border: 1px solid red;
    height: 400px;
    width: 600px;
    margin: auto;
    position: relative;
}
img{
    width: 100%;
}
.glass,
.glass1,
.glass2,
.glass3{
position: absolute;
width: 150px;
opacity: 0;
transition-duration: .3s;
left: 20px;
top: 60px
/* transition-timing-function: linear; */
}
.glass{
   opacity: 1;
   z-index: 4;
    width: 250px;
    left: 20px;
   top: 60px
}
.glass1{
  z-index: 3;
    transition-delay: .5s;
    transition-timing-function: cubic-bezier(.5, -1, .5, 2);
}
.glass2{
    z-index: 2;
    transition-delay: .6s;
    transition-timing-function: cubic-bezier(.5, -.1, .5, 2);
    
}
.glass3{
   z-index: 1;
    transition-delay: .7s;
    transition-timing-function: cubic-bezier(.5, -.1, .5, 2);
    
}

.frame:hover .glass1{
    left: 400px;
    top: 60px;
    opacity: 1;
}
.frame:hover .glass2{
    left: 400px;
    top: 160px;
    opacity: 1;
}
.frame:hover .glass3{
    left: 400px;
    top: 260px;
    opacity: 1;
}
.frame2{
    width: 600px;
    height: 400px;
    margin: auto;
    border: 1px solid red;
    position: relative;
}
.P_glass{
    /* border: 1px solid red; */
    height: 200px;
    width: 200px;
    position: absolute;
    position: relative;
    background-image: url(../image/glass-1.png);
    background-size: 200px;
    background-repeat: no-repeat;
    top: 150px;
    left: 80px;
}
.glass1,
.glass2,
.glass3{
position: absolute;
width: 100px;
opacity: 0;
transition-duration: 2s;
/* transition-timing-function: linear; */
}
.glass1{
    z-index: 3;

    transition-timing-function: cubic-bezier(.1, -.1, .1, 2);
    transform: scale(0);
    
}
.glass2{
    z-index: 2;

    transition-timing-function: cubic-bezier(.1, -.1, .1, 2);
    transform: scale(0);
    
}
.glass3{
   z-index: 1;
  
    transition-timing-function: cubic-bezier(.1, -.1, .1, 2);
    transform: scale(0);
}
.P_glass:hover .glass1{
    left: 300px;
    top: -2px;
    opacity: 1;
    transition-delay: .3s;
}
.P_glass:hover .glass2{
    left: 300px;
    top: 60px;
    transition-delay: .6s;
    opacity: 1;
}
.P_glass:hover .glass3{
    left: 300px;
    top: 125px;
    opacity: 1;
    transition-delay: .7s;
}
.P_glass:hover .glass1,
.P_glass:hover .glass2,
.P_glass:hover .glass3{
    transform: scale(2);
}

.frame3{
    width: 600px;
    height: 400px;
    margin: auto;
    border: 1px solid red;
    position: relative;
}
.frame3 .F_glass{
    height: 200px;
    width: 200px;
    position: absolute;
    position: relative;
    top: 150px;
    left: 80px;
  
}
.g1,
.g2,
.g3{
position: absolute;
width: 100px;
left: 80px;
opacity: 0;
transition-duration: 2s;
/* transition-timing-function: linear; */
}
.g1{
    z-index: 1;
    transition-timing-function: cubic-bezier(.1, -.1, .1, 2);
    transform: scale(0);
}
.g2{
    z-index: 2;
    transition-timing-function: cubic-bezier(.1, -.1, .1, 2);
    transform: scale(0);
}
.g3{
   z-index: 3;
    transition-timing-function: cubic-bezier(.1, -.1, .1, 2);
    transform: scale(0);
}
.frame3:hover .g1{
    left: 400px;
    top: 100px;
    opacity: 1;
    transition-delay: .5s;
}
.frame3:hover .g2{
    left: 400px;
    top: 300px;
    opacity: 1;
    transition-delay: .3s;
}
.frame3:hover .g3{
    left:400px;
    top: 200px;
    opacity: 1;
    transition-delay: .2s;
}
.frame3:hover .g1,
.frame3:hover .g2,
.frame3:hover .g3{
    transform: scale(1);
}